.content{
    height: 200vh;
    width: 100%;
    background-size: cover;
    background-position: no-repeat;
    transition: 1s;

    animation-name: animate;
    animation-direction:normal;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration:15s;
    animation-fill-mode: forward;
    animation-iteration-count: infinite;
}
@keyframes animate {
    0%{
        background-image: url(../img2.png);
    }
    20%{
        background-image: url(../img3.png);
    }
    40%{
        background-image: url(../img4.png);
    }
    60%{
        background-image: url(https://img.itch.zone/aW1nLzEwNzU5MDM4LnBuZw==/original/Zph7uX.png);
    }
    80%{
        background-image: url(../img6.png);
    }
    100%{
        background-image: url(../img1.png);
    }
}