/*Backgrounds*/
.home{
    background-image:url("/images/backgrounds/Website_Background_basecolor1.jpg");
    background-attachment:fixed;
    background-size:500px;
    }

.game{
    background-image:url("/images/backgrounds/Website_Background_basecolor2.jpg");
    background-attachment:fixed;
    background-size:500px;
}

.media{
    background-image:url("/images/backgrounds/Website_Background_basecolor3.jpg");
    background-attachment:fixed;
    background-size:500px;
}

.about{
    background-image:url("/images/backgrounds/Website_Background_basecolor4.jpg");
    background-attachment:fixed;
    background-size:500px;
}

/*Header*/
.header{
    overflow:hidden;
    background-color:#333;
    position:fixed;
    width:100%;
    font-size:20px;
    }

/*Hide the links inside the navigation menu*/
.header #myLinks{
    display:none;
    float:left;
    padding-left:15%;
    }

/*Hamburger Icon*/
.header a.icon{
    background:black;
    color:white;
    display:block;
    position:absolute;
    padding-left:3%;
    padding-right:3%;
    padding-top:5px;
    padding-bottom:15px;
    }

.headerlinks{
    color:white;
    text-decoration:none;
    float:left;
    margin-right:5%;
    inline-size:50%;
    margin-top:5px;
    }
.headerlinks:hover{
    color:gray
    }

/*Resume Link*/
.resume{
    color:white;
    float:right;
    padding-bottom:15px;
    margin-right:5%;
    margin-top:5px;
    }
.resume:hover{
    color:gray
    }

.video{
    width:100%;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    z-index:-2;
}

.videotext{
    font-weight:600;
    width:100%;
    text-align:center;
    position:absolute;
    z-index:-1;
    top:25vw;
    color:white;
    -webkit-text-stroke-color:black;
    text-shadow:0vw 0vw 0.55vw rgb(3, 0, 20);
}

.videotext-name{
    font-size:6vw;
    line-height:5vw;
    -webkit-text-stroke-width:.12vw;
}

.videotext-occupation{
    font-size:3vw;
    -webkit-text-stroke-width:.1vw;
}

/*Segment*/
.segment{
    width:100%;
    height:15px;
    background-color:rgb(31, 31, 31);
}

/*Icon Background*/
.logosbackground{
    background-image:url("/images/backgrounds/Stars.jpg");
    width:100%;
    background-attachment:fixed;
    display:table;
}

.logoitem{
    width:100%;
}
.logoitem img{
    display:block;
    width:100px;
    height:100px;
    margin:0 auto;
}

.logotitle{
    width:100%;
    text-align:center;
    color:white;
    font-size:45px;
    line-height:100px;
    font-family:acumin-pro, sans-serif;
}

.logodescription{
    margin-top:50px;
    margin-bottom:50px;
    width:100%;
    text-align:center;
    color:white;
    font-size:25px;
    font-family:acumin-pro, sans-serif;
    padding-left:10%;
    padding-right:10%;
}

/*Float Left and Right*/
.float-left{
    float:left;
}

.float-right{
    float:right;
}

/*Text*/
acumin{
    font-family:acumin-pro, sans-serif;
}

.text_shadows{
    text-shadow:.2vw .2vw 0 rgb(68, 68, 68);
    color:white;
}

/*Text Position*/
.centertext{
    text-align:center;
}

/*Text Colors*/
redtext{
    color:red;
}

/*Home Games*/
.game-reel{
    width:42.6vw;
    height:24vw;
    border-radius:30px;
    border:12px solid rgb(31, 31, 31);
}

.games-list{
    display:flex;
    flex-flow:wrap;
    width:100%;
    justify-content:center;
}

.game-box{
    margin:25px;
}

.game-image{
    width:54vw;
    border-radius:50px 50px 0px 0px;
    border:12px solid rgb(31, 31, 31);
}

/*Role Box*/
.game-role{
    width:54vw;
    font-size:1.4vw;
    border-top:0;
    height:fit-content;
    border-radius:0px 0px 20px 20px;
    background-color:rgb(19, 19, 19);
    border:12px solid rgb(31, 31, 31);
    line-height:40px;
    color:white;
}

.role-text{
    margin-left:15%;
}

/*Game*/
.game-title{
    width:40%;
    text-align:center;
}

.gametextmargin{
    font-family:acumin-pro, sans-serif;
    color:white;
    margin-left:25%;
    margin-right:25%;
    font-size:.9vw;
}

.gamesubtitle{
    color:rgb(105, 138, 92);
    font-weight:600;
    font-size:1vw;
}

.gameheading{
    color:rgb(255, 255, 255);
    font-weight:600;
    font-size:2vw;
}

.game-media{
    border-radius:10px;
    width:32vw;
    height:18vw;
}

/*Media*/
.media-box{
    text-align:center;
    display:flex;
    flex-direction:row;
    flex:50%;
    height:100%;
}

.media-left{
    margin-left:2%;
    margin-right:10%;
}

.media-right{
    margin-right:2%;
    background-color: #333;
    border-radius:20px 20px 20px 20px;
    border:12px solid rgb(31, 31, 31);
}

.media-text{
    font-family:acumin-pro, sans-serif;
    font-size:3vw;
    font-weight:600;
    color:white;
}

.youtube-image{
    max-height:10vw;
    max-width:10vw;
    width:49%;
    margin-bottom:3vw;
}

.youtube-text{
    font-family:acumin-pro, sans-serif;
    font-style:normal;
    font-size:2vw;
    width:50%;
    display:inline-block;
    color:white;
}

.articlegame{
    font-size:2vw;
    margin-top:2vw;
    margin-bottom:1vw;
    color:white;
}

.articlelinks{
    font-size:1.5vw;
    color:rgb(0, 191, 255);
    text-decoration:none;
    line-height:3vw;
}

/*About*/
.aboutsection{
    height:100%;
    display:flex;
}

.about-box{
    overflow-wrap:normal;
    width:80%;
    padding-left:10%;
    color:white;
}

.about-header{
    font-family:acumin-pro, sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:4vw;
}

.about-image{
    width:100%;
    border-radius:50px 50px 0px 0px;
}

.profile-image{
    padding-top:10%;
    height:70vw;
    padding-right:10%;
}

.about-text{
    font-family:acumin-pro, sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:1.5vw;
}

.skills-tab{
    font-family:acumin-pro, sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:1.5vw;
}

.btn:hover{
    background-color:lightgray;
}

.email-button{
    height:fit-content;
    width:fit-content;
    border-radius:30px;

    border-color:rgb(31, 31, 31);;
    border-style:solid;
    border-width:10px;

    font-family:acumin-pro, sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:4vw;
    color:black;
}

.contact-name-email{
    height:fit-content;
    margin-left:2%;
    margin-right:2%;
    font-family:sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:3vw;
    color:rgb(31, 31, 31);;
    border-radius:10px;
}

.contact-subject{
    height:fit-content;
    width:85%;
    font-family:sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:3vw;
    color:rgb(31, 31, 31);
    border-radius:10px;
}

.contact-message{
    height:500px;
    width:85%;
    font-family:sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:3vw;
    color:rgb(31, 31, 31);
    border-radius:10px;
    resize:none;
}

.about-header{
    font-family:acumin-pro, sans-serif;
    font-weight:600;
    font-size:5vw;
}

.about-description{
    font-family:acumin-pro, sans-serif;
    font-size:2vw;
    font-weight:400;
    font-style:normal;
}

footer{
    background-color:rgb(31, 31, 31);;
    height:100px;
    width:100%;
}

footer-text{
    font-family:sans-serif;
    font-weight:100;
    font-size:4vw;
    padding-left:7%;
    padding-right:7%;
    margin-top:30px;
    color:white;
}

.footerlinks{
    color:white;
    text-decoration:none;
}

.footerlinks:hover{
    color:gray
}

@media (min-width:600px){
    /*Monitor Specific Changes*/
    .header{
        overflow:hidden;
        background-color:#333;
        position:fixed;
        width:100%;
        font-size:20px;
        height:45px;
    }

    .header #myLinks{
        display:flex;
        float:left;
        padding-left:5%;
        inline-size:60%;
    }
    
    .header a.icon{
        display:none;
    }

    .resume{
        float:right;
    }

    .GameTitle{
        font-size:80px;
        line-height:normal;
    }

    .GameDescription{
        font-size:40px;
        line-height:50px;
    }
    
    .gametext{
        inline-size:50%;
        padding-right:2%;
        padding-left:2%;
        height:550px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap:wrap;
        overflow:hidden;
    }

    .game-image{
        width:54vh;
    }
    
    .game-role{
        width:54vh;
    }

    .email-button{
        font-size:2vw;
    }

    .contact-name-email{
        font-size:1.5vw;
    }
    
    .contact-subject{
        font-size:1.5vw;
        width:60%;
    }
    
    .contact-message{
        font-size:1.5vw;
        width:60%;
    }

    footer-text{
        font-family:sans-serif;
        font-weight:100;
        font-size:30px;
        padding-left:7%;
        padding-right:7%;
        margin-top:30px;
    }
}