/* Style the navigation menu */
.topnav{
    overflow:hidden;
    background-color:#333;
    position:fixed;
    width:100%;
    font-size:20px;
    }

/* Resume Link */
.resume{
    color:white;
    float:right;
    }

/*Prevents drop down from overlapping icon*/
.filler{
    color:white;
    margin-top:20px;
    }
  
/* Hide the links inside the navigation menu*/
.topnav #myLinks{
    display:none;
    }

/* Hamburger Icon */
.topnav a.icon{
    background:black;
    display:block;
    position:absolute;
    left:0;
    top:0;
    }

/* Hamburger Dropdown Links */
.topnav a{
    color:white;
    padding:10px 16px;
    text-decoration:none;
    display:block;
    }

/*Backgrounds*/
.home{
    background-image:url("/images/backgrounds/Website_Background_basecolor1.jpg");
    background-attachment:fixed;
    background-size:500px;
    }

.games{
    background-image:url("/images/backgrounds/Website_Background_basecolor2.jpg");
    background-attachment:fixed;
    background-size:500px;
}

.media{
    background-image:url("/images/backgrounds/Website_Background_basecolor3.jpg");
    background-attachment:fixed;
    background-size:500px;
}

.about{
    background-image:url("/images/backgrounds/Website_Background_basecolor4.jpg");
    background-attachment:fixed;
    background-size:500px;
}

/*Fixed Header*/
header{
    position:fixed;
    background-color:rgb(31, 31, 31);
    width:100%;
    height:60px;
}

.headertext{
    font-family:sans-serif;
    font-size:20px;
    margin-top:15px;
    margin-left:5%;
}

.headerlinks{
    color:white;
    text-decoration:none;
    padding-left:4%;
    padding-right:4%;
}

.headerlinks:hover{
    color:gray
}

.resumelink{
    color:white;
    text-decoration:none;
    float:right;
    padding-right:10%;
}

.resumelink:hover{
    color:gray
}

.video{
    width:100%;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    z-index:-1;
}

.videotext{
    font-weight:600;
    width:100%;
    text-align:center;
    position:absolute;
    z-index:-1;
    top:450px;
    color:white;
    -webkit-text-stroke-color:black;
}

.videotext-name{
    font-size:100px;
    line-height:100px;
    -webkit-text-stroke-width:3px;
}

.videotext-occupation{
    font-size:45px;
    -webkit-text-stroke-width:2px;
}

/*Segment*/
.segment{
    width:100%;
    height:15px;
    background-color:rgb(31, 31, 31);
}

/*Icon Background*/
.logosbackground{
    background-image:url("/images/backgrounds/Stars.jpg");
    width:100%;
    background-attachment:fixed;
    display:table;
}

.logoitem{
    width:100%;
}
.logoitem img{
    display:block;
    width:100px;
    height:100px;
    margin:0 auto;
}

.logotitle{
    width:100%;
    text-align:center;
    color:white;
    font-size:45px;
    line-height:100px;
    font-family:acumin-pro, sans-serif;
}

.logodescription{
    margin-top:50px;
    margin-bottom:50px;
    width:100%;
    text-align:center;
    color:white;
    font-size:25px;
    font-family:acumin-pro, sans-serif;
    padding-left:10%;
    padding-right:10%;
}

/*Float Left and Right*/
.float-left{
    float:left;
}

.float-right{
    float:right;
}

/*Text*/
acumin{
    font-family:acumin-pro, sans-serif;
}

dropshadow{
    filter:drop-shadow(0.5rem 0.5rem 0.55rem rgba(3, 0, 20, 0.61));
}

.text_shadows{
    text-shadow:3px 3px 0 rgb(68, 68, 68);
}

font40{
    font-size:40px;
}

italics{
    font-style:italic;
}

/*Text Position*/
.centertext{
    text-align:center;
}

/*Text Colors*/
redtext{
    color:red;
}

whitetext{
    color:white;
}

bluetext{
    color:rgb(0, 191, 255);
}

/*Home Games*/
.gamebox{
    height:100%;
    display:table;
    width:100%;
}

.gametext{
    inline-size:50%;
    padding-right:2%;
    padding-left:2%;

    height:fit-content;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

    overflow:hidden;
}

.GameTitle{
    font-family:acumin-pro, sans-serif;
    font-size:25px;
    letter-spacing:2px;
    color:white;
    line-height:30px;
}

.GameDescription{
    font-family:acumin-pro, sans-serif;
    color:white;
    font-size:10px;
    letter-spacing:1px;
}

.game-image-left{
    border-radius:0px 20px 20px 0px;
    width:50%;
    height:100%;
    display:flex;
    max-height:650px;
    max-width:951px;
    border:10px solid rgb(31, 31, 31);
    border-left:0;
}

.game-image-right{
    border-radius:20px 0px 0px 20px;
    width:50%;
    height:100%;
    display:flex;
    max-height:650px;
    max-width:951px;
    border:10px solid rgb(31, 31, 31);
    border-right:0;
}

/*Game Image*/
.game-row{
    height:fit-content;
    display:flex;
}

.game-distance{
    margin-left:4%;
    margin-right:4%;
    inline-size:50%;
}

.game-image{
    border-radius:50px 50px 0px 0px;
    width:100%;
}

/*Border*/
.border{
    border:8px solid black;
}

/*Role Box*/
.role-box{
    font-size:60px;
    border-top:0;
    height:fit-content;
    background-color:rgb(172, 255, 117);
}

roletext{
    line-height:80px;
}

/*Created Box*/
.created-box{
    border-top:0;
    height:fit-content;
    background-color:rgb(255, 253, 125);
}

createdtext{
    font-size:45px;
    line-height:60px;
}

/*Media*/
ArticleGameTitle{
    font-family:acumin-pro, sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:50px;

    line-height:80px;
}

.media-text{
    font-size:60px;
}

.youtube-image{
    inline-size:50%;
    height:100%;
    display:flex;

    max-height:650px;
    max-width:951px;
}

.youtube-text{
    font-family:acumin-pro, sans-serif;
    font-weight:550;
    font-style:normal;
    font-size:40px;

    padding-right:5%;

    letter-spacing:2px;
    line-height:35px;
}

/*About*/
.about-box{
    overflow-wrap:normal;
}

.about-text{
    font-family:acumin-pro, sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:30px;

    line-height:35px;
    padding-left:250px;
}

.skills-tab{
    font-family:acumin-pro, sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:30px;

    line-height:35px;
    padding-left:250px;
}

h1{
    font-family:acumin-pro, sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:80px;
    padding-left:350px;
}

h2{
    font-family:acumin-pro, sans-serif;
    font-weight:600;
    font-style:italic;
    font-size:70px;
    color:white;
}

h3{
    font-family:acumin-pro, sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:30px;
}

.profile-image{
    padding-top:10%;
    height:100%;
    padding-right:10%;
}

.btn:hover{
    background-color:lightgray;
}

.email-button{
    height:fit-content;
    width:fit-content;
    border-radius:30px;

    border-color:black;
    border-style:solid;
    border-width:10px;

    font-family:acumin-pro, sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:40px;
    color:black;
}

.contact-name-email{
    height:fit-content;
    margin-left:2%;
    margin-right:2%;

    font-family:sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:30px;
    color:black;
}

.contact-subject{
    height:fit-content;

    font-family:sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:30px;
    color:black;
}

.contact-message{
    height:500px;

    font-family:sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:25px;
    color:black;
}

footer{
    background-color:black;
    height:100px;
    width:100%;
}

footer-text{
    font-family:sans-serif;
    font-weight:100;
    font-size:18px;
    padding-left:7%;
    padding-right:7%;
    margin-top:30px;
}

.footerlinks{
    color:white;
    text-decoration:none;
}

.footerlinks:hover{
    color:gray
}

@media (min-width:600px){
    /*Monitor Specific Changes*/
    .topnav{
        overflow:hidden;
        background-color:#333;
        position:fixed;
        width:100%;
        font-size:20px;
        height:45px;
    }

    .topnav #myLinks{
        display:flex;
    }
    
    .topnav a.icon{
        display:none;
    }
    
    .filler{
        color:white;
        margin-top:0px;
    }

    .topnav a{
        color:white;
        padding:0% 5%;
        text-decoration:none;
        display:block;
        margin-top:5px;
    }

    .resume{
        color:white;
        float:right;
    }

    .logoitem{
        display:table-cell;
        width:auto;
    }
    .logoitem img{
        display:block;
        width:100px;
        height:100px;
        margin:0 auto;
    }

    .GameTitle{
        font-size:80px;
        line-height:normal;
    }

    .GameDescription{
        font-size:40px;
        line-height:50px;
    }
    
    .gametext{
        inline-size:50%;
        padding-right:2%;
        padding-left:2%;
        height:550px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap:wrap;
        overflow:hidden;
    }

    footer-text{
        font-family:sans-serif;
        font-weight:100;
        font-size:30px;
        padding-left:7%;
        padding-right:7%;
        margin-top:30px;
    }
}